{% extends 'base.html.twig' %}

{% block body %}
    <div>
		<h2>Nova cor</h2>
		<a href="/?pagina=cores">Voltar</a>
	</div>
    <form action="/?pagina=cores&acao=cadastro" method="POST">
        <div>
            <label for="name">Nome</label>
            <input type="text" name="name" id="name" required>
        </div>

        <input type="hidden" name="acao" value="cadastro">

        <button type="submit">Cadastrar</button>
    </form>
{% endblock %}